@model RegionModel
@{
    //Small screens show 2 columns, so we need to make sure we break the row divs accordinly
    int cols = WebRequestContext.ScreenWidth == ScreenWidth.Small ? 2 : 3;
}
<div @Html.DxaRegionMarkup()>
    @for (int i = 0; i < Math.Ceiling(Model.Entities.Count / Convert.ToDouble(cols)); i++)
    {
        <div class="row">
            @for (int j = 0; j < cols && (cols * i + j < Model.Entities.Count); j++)
            {
                <div class="col-sm-6 col-md-4">
                    @Html.DxaEntity(Model.Entities[cols * i + j], containerSize: 12 / cols)
                </div>
            }
        </div>
    }
</div>