@model Region
<div class="navbar-collapse collapse" @Markup.Region(Model)>
    @foreach (var item in Model.Items)
    {
        //Navigation, searchbox etc are just rendered as sub-entities
        @ViewBag.Renderer.RenderEntity(item, Html)
    }
</div>