<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DD4T.Core" version="2.1.1.144-alpha" targetFramework="net452" />
  <package id="DD4T.Model" version="2.1.0" targetFramework="net452" />
  <package id="DD4T.Providers.SDLWeb8.CIL" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.OData.Client" version="6.15.0" targetFramework="net452" />
  <package id="Microsoft.OData.Core" version="6.15.0" targetFramework="net452" />
  <package id="Microsoft.OData.Edm" version="6.15.0" targetFramework="net452" />
  <package id="Microsoft.Spatial" version="6.15.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Sdl.Dxa.DataModel" version="2.0.0-alpha-201706221616" targetFramework="net452" />
  <package id="Sdl.Web.Context.Client" version="8.5.0" targetFramework="net452" />
  <package id="Sdl.Web.Context.Image" version="8.5.0" targetFramework="net452" />
  <package id="Sdl.Web.Delivery" version="8.5.0" targetFramework="net452" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="1.1.0" allowedVersions="[1.1.0]" targetFramework="net452" />
  <package id="Microsoft.Extensions.Caching.Memory" version="1.1.0" allowedVersions="[1.1.0]" targetFramework="net452" />
  <package id="Microsoft.Extensions.Caching.Redis" version="1.1.0" allowedVersions="[1.1.0]" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.1.0" allowedVersions="[1.1.0]" targetFramework="net452" />
  <package id="Microsoft.Extensions.Options" version="1.1.0" allowedVersions="[1.1.0]" targetFramework="net452" />
  <package id="Microsoft.Extensions.Primitives" version="1.1.0" allowedVersions="[1.1.0]" targetFramework="net452" />
  <package id="StackExchange.Redis.StrongName" version="1.1.605" allowedVersions="[1.1.605]" targetFramework="net452" />
</packages>