@model Sdl.Web.Mvc.Models.SitemapItem
@{
    Layout = null;
}
<div class="col-sm-3">
    <nav>
        <ul class="nav nav-sidebar">
            @foreach (var item in Model.Items)
            {
                 <li class="@(item.Url == Request.Url.LocalPath.ToString() ? "active" : "")">
                    <a href="@item.Url">@item.Title</a>
                </li>
            }
        </ul>
    </nav>
</div>