@model NavigationLinks
<nav>
    <ul class="nav nav-sidebar">
        @foreach (var item in Model.Items)
        {
            <li class="@(item.Url == Request.Url.LocalPath.ToString() ? "active" : "")">
                <a href="@item.Url" title="@item.AlternateText">@item.LinkText</a>
            </li>
        }
    </ul>
</nav>
