<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net452" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.2" targetFramework="net452" />
  <package id="DD4T.Core" version="2.2.2" targetFramework="net452" />
  <package id="DD4T.Model" version="2.2.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net452" />
</packages>