<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <section name="modelBuilderPipeline" type="Sdl.Web.Tridion.Configuration.ModelBuilderPipelineConfiguration, Sdl.Web.Tridion" />
    </configSections>
    <appSettings>
        <!-- Needed for DD4TCacheProviderTest -->
        <add key="DD4T.CacheSettings.Default" value="10" /> 

        <add key="viewModel-caching" value="true"/>

        <!-- SDL Web 8 CIL/CIS configuration settings: -->
        <add key="discovery-service-uri" value="http://dxadevweb8.ams.dev:8082/discovery.svc" />
        <add key="cid-service-uri" value="http://dxadevweb8.ams.dev:8088/cid" />
        <add key="log-level" value="ERROR" />
        <add key="log-rolling" value="true" />
        <add key="log-max-log-size" value="50000" />
        <add key="log-output" value="Sdl.Web.Tridion.Tests_cd_client.log" />
        <!-- NOTE: we're using legacy CIL cache settings here -->
        <add key="service-caching" value="true" />
        <add key="service-caching-absoluteExpiration" value="10" />
        <add key="oauth-enabled" value="false" />
        <add key="oauth-client-id" value="cduser" />
        <add key="oauth-client-secret" value="CDUserP@ssw0rd" />
        <add key="context-service-publication-evidence" value="true"/>
    </appSettings>
    <log4net>
        <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
            <file value="Sdl.Web.Tridion.Tests.log" />
            <appendToFile value="true" />
            <maximumFileSize value="1000KB" />
            <maxSizeRollBackups value="2" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="INFO" />
            <appender-ref ref="RollingFile" />
        </root>
    </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
        
      <!-- Ensure that DD4T uses CIL 10.1.0 -->
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ContentDelivery" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="8.1.0.1239-10.1.0.1002" newVersion="10.1.0.1003" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ContentDelivery.AmbientData" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="8.1.0.1239-10.1.0.1002" newVersion="10.1.0.1003" />
      </dependentAssembly>
      <!-- Ensure that Audience Manager uses CIL 10.1.0 -->
      <dependentAssembly>
        <assemblyIdentity name="Sdl.Web.Delivery.Core" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="8.1.0.1239-10.1.0.1002" newVersion="10.1.0.1003" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sdl.Web.Delivery.Caching" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="8.1.0.1239-10.1.0.1002" newVersion="10.1.0.1003" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sdl.Web.Delivery.Broker" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="8.1.0.1239-10.1.0.1002" newVersion="10.1.0.1003" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sdl.Web.Delivery.DiscoveryService" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="8.1.0.1239-10.1.0.1002" newVersion="10.1.0.1003" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sdl.Web.Delivery.Dynamic" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="8.1.0.1239-10.1.0.1002" newVersion="10.1.0.1003" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sdl.Web.Delivery.Linking" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="8.1.0.1239-10.1.0.1002" newVersion="10.1.0.1003" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sdl.Web.Delivery.Model" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="8.1.0.1239-10.1.0.1002" newVersion="10.1.0.1003" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sdl.Web.Delivery.Service" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="8.1.0.1239-10.1.0.1002" newVersion="10.1.0.1003" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sdl.Web.Delivery.ServicesCore" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="8.1.0.1239-10.1.0.1002" newVersion="10.1.0.1003" />
      </dependentAssembly>
    </assemblyBinding>
</runtime>
    <modelBuilderPipeline>
        <add type="Sdl.Web.Tridion.Mapping.DefaultModelBuilder, Sdl.Web.Tridion" />
    </modelBuilderPipeline>
</configuration>