@model RegionModel
C513799 - @Html.DxaRegionMarkup()
<div class="region" @Html.DxaRegionMarkup()>
    <h3>Rendered @Model with Region View "Test:TestRegionMarkup"</h3>
    
    @if (Model.Regions.Count > 0)
    {
        <h4>Nested Regions</h4>
        <div>
            @Html.DxaRegions()
        </div>
    }

    <h4>Entities</h4>
    <div>
        C513195, C513825 - @Html.DxaEntities()
    </div>


</div>
