<?xml version="1.0"?>
<unity>
  <assembly name="Sdl.Web.Tridion" />
  <namespace name="Sdl.Web.Tridion" />
  <namespace name="Sdl.Web.Tridion.Linking" />
  <namespace name="Sdl.Web.Tridion.Context" />
  <namespace name="Sdl.Web.Tridion.Mapping" />
  <namespace name="Sdl.Web.Tridion.Navigation" />
  <namespace name="Sdl.Web.Tridion.Statics" />
  <namespace name="Sdl.Web.Tridion.Caching" />

  <assembly name="Sdl.Web.Mvc" />
  <namespace name="Sdl.Web.Mvc.Configuration" />
  <namespace name="Sdl.Web.Mvc.ContentProvider" />
  <namespace name="Sdl.Web.Mvc.Controllers" />
  <namespace name="Sdl.Web.Mvc.Html" />
  <namespace name="Sdl.Web.Mvc.Statics" />

  <assembly name="Sdl.Web.Common" />
  <namespace name="Sdl.Web.Common.Configuration" />
  <namespace name="Sdl.Web.Common.Interfaces" />
  <namespace name="Sdl.Web.Common.Logging" />
  <namespace name="Sdl.Web.Common.Mapping" />
  <namespace name="Sdl.Web.Common.Models" />

  <typeAliases>
    <!-- Lifetime manager types -->
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
  </typeAliases>
  
  <!-- Unity Configuration -->
  <containers>
    <container name="main">
      <types>
        <!-- map the implementations to the interfaces -->
        <type type="ILogger" mapTo="Log4NetLogger">
          <lifetime type="singleton" />
        </type>
        <type type="ICacheProvider" mapTo="DefaultCacheProvider">
          <lifetime type="singleton" />
        </type>
        <type type="IStaticFileManager" mapTo="BaseStaticFileManager">
          <lifetime type="singleton" />
        </type>
        <type type="IMediaHelper" mapTo="BaseMediaHelper">
          <lifetime type="singleton" />
        </type>
        <type type="ILocalizationResolver" mapTo="CdApiLocalizationResolver">
          <lifetime type="singleton" />
        </type>
        <type type="IContentProvider" mapTo="DefaultContentProvider">
          <lifetime type="singleton" />
        </type>
        <type type="INavigationProvider" mapTo="StaticNavigationProvider">
          <lifetime type="singleton" />
        </type>
        <type type="IContextClaimsProvider" mapTo="ContextServiceClaimsProvider">
          <lifetime type="singleton" />
        </type>
        <type type="ILinkResolver" mapTo="DefaultLinkResolver">
          <lifetime type="singleton" />
        </type>
        <type type="IRichTextProcessor" mapTo="DefaultRichTextProcessor">
          <lifetime type="singleton" />
        </type>
        <type type="IContentResolver" mapTo="LegacyContentResolverFacade">
          <lifetime type="singleton" />
        </type>
        <type type="IRenderer" mapTo="BaseRenderer">
          <lifetime type="singleton" />
        </type>
      </types>
    </container>
  </containers>
</unity>