<?xml version="1.0"?>
<unity>
  <assembly name="DD4T.ContentModel.Contracts"/>
  <namespace name="DD4T.ContentModel.Factories"/>
  <namespace name="DD4T.ContentModel.Contracts.Providers" />
  <namespace name="DD4T.ContentModel.Contracts.Resolvers" />
  <assembly name="Sdl.web.DD4T" />
  <namespace name="Sdl.Web.DD4T" />
  <assembly name="Sdl.Web.Mvc" />
  <namespace name="Sdl.Web.Mvc.Html" />
  <assembly name="Sdl.Web.Common" />
  <namespace name="Sdl.Web.Common.Interfaces" />
  <typeAliases>
    <!-- Lifetime manager types -->
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="ComponentFactory" type="DD4T.Factories.ComponentFactory, DD4T.Factories" />
  </typeAliases>
  <!-- Unity Configuration -->
  <containers>
    <container name="main">
      <types>
        <!-- map the implementations to the interfaces -->
        <type type="Sdl.Web.Common.Interfaces.IStaticFileManager, Sdl.Web.Common"
              mapTo="BinaryFileManager">
          <lifetime type="singleton" />
        </type>
        <type type="Sdl.Web.Common.Interfaces.IMediaHelper, Sdl.Web.Common"
              mapTo="ContextualMediaHelper">
          <lifetime type="singleton" />
        </type>
        <type type="IContentProvider" mapTo="DD4TContentProvider">
          <lifetime type="singleton" />
        </type>
        <type type="IModelBuilder" mapTo="Mapping.DD4TModelBuilder">
          <lifetime type="singleton" />
        </type>
        <type type="IRenderer" mapTo="DD4TRenderer" />
        <type type="IPublicationResolver" mapTo="PublicationResolver" />
        <type type="ILinkFactory" mapTo="ExtensionlessLinkFactory">
          <property name="PublicationResolver" dependencyType="PublicationResolver" />
        </type>
        <type type="IComponentFactory" mapTo="ComponentFactory">
          <lifetime type="singleton" />
          <property name="PublicationResolver" dependencyType="PublicationResolver" />
        </type>
        <type type="IPageFactory"
              mapTo="DD4T.Factories.PageFactory, DD4T.Factories">
          <lifetime type="singleton" />
          <property name="PublicationResolver" dependencyType="PublicationResolver" />
          <property name="ComponentFactory" dependencyType="IComponentFactory" />
        </type>
      </types>
    </container>
  </containers>
</unity>