<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <!-- remove any hardcoded DD4T cache settings -->
        <add key="CacheSettings_CallBackInterval" xdt:Transform="Remove" xdt:Locator="Match(key)" />
        <add key="DD4T.CacheSettings.Page" xdt:Transform="Remove" xdt:Locator="Match(key)" />
        <add key="DD4T.CacheSettings.Component" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
    <runtime>
      <!-- redirections for DD4T for Tridion CD v8.0 required until we use v8.0 providers -->
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly xdt:Transform="Insert">
          <assemblyIdentity name="Tridion.ContentDelivery.AmbientData" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-7.2.0.0" newVersion="8.0.0.24" />
        </dependentAssembly>
        <dependentAssembly xdt:Transform="Insert">
          <assemblyIdentity name="Tridion.ContentDelivery" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-7.2.0.0" newVersion="8.0.0.18" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
</configuration>