<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="modelBuilderPipeline" type="Sdl.Web.Tridion.Configuration.ModelBuilderPipelineConfiguration, Sdl.Web.Tridion" />

  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <!-- DD4T cache settings for XPM session preview on staging site
    <add key="CacheSettings_CallBackInterval" value="5"/>
    <add key="DD4T.CacheSettings.Page" value="5"/>
    <add key="DD4T.CacheSettings.Component" value="5"/>
    -->
    <!-- DD4T cache settings example for a production site, for details see http://albertromkes.com/2012/04/07/dd4t-and-caching/ 
    <add key="CacheSettings_CallBackInterval" value="30"/>
    <add key="DD4T.CacheSettings.Page" value="3600"/>
    <add key="DD4T.CacheSettings.Component" value="3600"/>
    -->
    <add key="CacheSettings_CallBackInterval" value="5" />
    <add key="DD4T.CacheSettings.Page" value="5" />
    <add key="DD4T.CacheSettings.Component" value="5" />
    <add key="admin.refresh.enabled" value="True" />

     <!-- SDL Web 8 CDaaS configuration settings: -->
    <add key="discovery-service-uri" value="http://saintjohn11.ams.dev:8082/discovery.svc" />
    <add key="cid-service-uri" value="http://saintjohn11.ams.dev:8088/cid" />
    <add key="log-level" value="INFO" />
    <add key="log-rolling" value="true" />
    <add key="log-max-log-size" value="50000" />
    <add key="log-output" value="C:\Temp\logs\cd_client.log" />
    <add key="service-caching" value="true" />
    <add key="service-caching-expiration" value="60" />
    <add key="oauth-enabled" value="true" />
    <add key="oauth-client-id" value="cduser" />
    <add key="oauth-client-secret" value="CDUserP@ssw0rd" />

  </appSettings>
  <system.web>
    <globalization resourceProviderFactoryType="Sdl.Web.Mvc.Configuration.ResourceProviderFactory, Sdl.Web.Mvc, Version=7.1.*, Culture=neutral" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="AmbientFrameworkModule" type="Tridion.ContentDelivery.AmbientData.HttpModule" preCondition="managedHandler" />
      <add name="DxaStaticContentModule" type="Sdl.Web.Mvc.Statics.StaticContentModule" />
    </modules>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="6.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net configSource="Log.config" />
  <unity configSource="Unity.config" />
  
  <!-- 
  NOTE: Model Builder Pipeline Configuration should only be used for advanced (SDL-owned) modules.
  This is not a public extension point an will change considerably in a future release.
  -->
  <modelBuilderPipeline>
    <add type="Sdl.Web.Tridion.Mapping.DefaultModelBuilder, Sdl.Web.Tridion" />
  </modelBuilderPipeline>
</configuration>