<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <!-- remove any hardcoded DD4T cache settings -->
        <add key="CacheSettings_CallBackInterval" xdt:Transform="Remove" xdt:Locator="Match(key)" />
        <add key="DD4T.CacheSettings.Page" xdt:Transform="Remove" xdt:Locator="Match(key)" />
        <add key="DD4T.CacheSettings.Component" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>