<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
        <!-- set version to 8.0.* to match build version -->
        <globalization resourceProviderFactoryType="Sdl.Web.Mvc.Configuration.ResourceProviderFactory, Sdl.Web.Mvc, Version=7.1.*, Culture=neutral" xdt:Transform="Remove" xdt:Locator="Match(resourceProviderFactoryType)" />
        <globalization resourceProviderFactoryType="Sdl.Web.Mvc.Configuration.ResourceProviderFactory, Sdl.Web.Mvc, Version=8.0.*, Culture=neutral" xdt:Transform="Insert" />
    </system.web>
    <runtime>
      <!-- redirections for DD4T for Tridion CD v8.0 required until we use v8.0 providers -->
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly xdt:Transform="Insert">
          <assemblyIdentity name="Tridion.ContentDelivery.AmbientData" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-7.2.0.0" newVersion="8.0.0.43" />
        </dependentAssembly>
        <dependentAssembly xdt:Transform="Insert">
          <assemblyIdentity name="Tridion.ContentDelivery" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-7.2.0.0" newVersion="8.0.0.67" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
</configuration>