<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="modelBuilderPipeline" type="Sdl.Web.Tridion.Configuration.ModelBuilderPipelineConfiguration, Sdl.Web.Tridion" />
    <sectionGroup name="sdl.web.delivery">
      <section name="caching" type="Sdl.Web.Delivery.Caching.CacheConfigurationSection, Sdl.Web.Delivery.Caching" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />

    <!-- DD4T.CacheSettings.Default is only used if DD4TCacheProvider is used. For DefaultCacheProvider, see sdl.web.delivery/caching section below. -->
    <add key="DD4T.CacheSettings.Default" value="5"/>
    
    <!-- If viewModel-caching is set to "true", DXA Page, Region and Entity Models will be cached in separate cache Regions (see sdl.web.delivery caching section below).
         This improves performance, but could lead to issues with dynamically populated Entity Models which don't override the ViewModel.DeepCopy() method (introduced in DXA 1.6).
         In case of issues with dynamically populated Entity Models, try disabling View Model caching. -->
    <add key="viewModel-caching" value="true"/>

    <!-- If admin.refresh.enabled is set to "true", the configuration settings cache can be flushed using the "/admin/refresh" URL. -->
    <add key="admin.refresh.enabled" value="true" />

    <!-- default-module is the name of the Module/Area which is used in case the Module name is not specified in the View or Controller names on CM-side.
         If you don't use the Core Module in your Web App, you should set this to the name of your main Module/Area. -->
    <add key="default-module" value="Core"/>
    
    <!-- SDL Web 8 CIL/CIS configuration settings: -->
    <add key="discovery-service-uri" value="http://dxadevweb85.ams.dev:8082/discovery.svc" />   
    <add key="cid-service-proxy-pattern" value="/cid*"/>
    <!-- If your CID Service does not run on the same server as your DXA Web Application, set cid-localhost to the public hostname of your DXA Web Application. -->
    <add key="cid-localhost" value="localhost"/>
    <add key="log-level" value="INFO" />
    <add key="log-rolling" value="true" />
    <add key="log-max-log-size" value="50000" />
    <add key="log-output" value="C:\Temp\logs\cd_client.log" />
    <add key="oauth-enabled" value="false" />
    <add key="oauth-client-id" value="cduser" />
    <add key="oauth-client-secret" value="CDUserP@ssw0rd" />

    <!-- Enable View Output Rendering Cache -->
    <add key="output-caching-in-preview" value="true"/>
    <add key="output-caching-enabled" value="true"/>
  </appSettings>

  <sdl.web.delivery>
    <caching defaultHandler="regularCache">
      <handlers>
        <add name="noCache" type="NullCacheHandler" />
        <add name="regularCache" type="DefaultMemCacheHandler">
          <!-- Use a low expiration time on a Staging site to prevent caching issues with XPM Session Preview. The setting is in seconds. -->
          <policy absoluteExpiration="5" />
        </add>
        <add name="longLivedCache" type="DefaultMemCacheHandler">
          <policy absoluteExpiration="30" />
        </add>
        <add name="cilInternalCache" type="DefaultMemCacheHandler">
          <policy absoluteExpiration="60" />
        </add>
        <!-- Set hashkey="false" if you want to see the full key instead of a hash code in Redis -->
        <add name="regularDistributedCache" type="RedisCacheHandler" instanceName="DXA-regular" hashkey="true">
          <endpoint host="localhost" port="6379" />
          <policy absoluteExpiration="5" />
        </add>
        <add name="longLivedDistributedCache" type="RedisCacheHandler" instanceName="DXA-longLived" hashkey="true">
          <endpoint host="localhost" port="6379" />
          <policy absoluteExpiration="30" />
        </add>
      </handlers>
      <regions>
        <!-- Internal regions used by CIL for caching requests to content-service -->
        <!-- We should use the multi-level cache for these ideally with a level 1 cache enabled -->
        <add name="CIL-LINKING" cacheName="cilInternalCache" />
        <add name="CIL-BROKER" cacheName="cilInternalCache" />
        <add name="CIL-DYNAMIC" cacheName="cilInternalCache" />
        <add name="CIL-INTERNAL" cacheName="cilInternalCache" />
        
        <!-- DXA Framework uses below cache regions. The cache mappings are just examples; adjust to your needs. -->
        <!-- DD4T objects: -->
        <add name="Page" cacheName="regularCache" />
        <add name="ComponentPresentation" cacheName="regularCache" />
        <!-- DXA objects: -->
        <add name="PageModel" cacheName="regularCache" />
        <add name="IncludePageModel" cacheName="longLivedCache" />
        <add name="EntityModel" cacheName="regularCache" />
        <add name="Navigation_Static" cacheName="regularCache" />
        <add name="Navigation_Dynamic" cacheName="regularCache" />
        <add name="NavTaxonomy" cacheName="longLivedCache" />
        <add name="BinaryPublishDate" cacheName="regularCache" />
        <!-- View Rendering output -->      
        <add name="RenderedOutput" cacheName="longLivedCache" />
      </regions>
    </caching>
  </sdl.web.delivery>

  <system.web>
    <globalization resourceProviderFactoryType="Sdl.Web.Mvc.Configuration.ResourceProviderFactory, Sdl.Web.Mvc" />
    <customErrors mode="Off" />
    <!-- We need requestPathInvalidCharacters at the moment so the we can specify a port on CID proxy uri -->   
    <httpRuntime targetFramework="4.5.2" requestPathInvalidCharacters="&lt;,&gt;,*,%,&amp;,?" />
    <compilation debug="true" targetFramework="4.5.2" />

      <!--
        Enabling request validation in View pages would cause validation to occur after the input has already been processed by the controller. 
        By default MVC performs request validation before a controller processes the input. To change this behavior apply the ValidateInputAttribute to a controller or action.
        -->
      <pages validateRequest="false"
        pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=5.1.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=5.1.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=5.1.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      <controls>
        <add assembly="System.Web.Mvc, Version=5.1.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" namespace="System.Web.Mvc" tagPrefix="mvc"/>
      </controls>
    </pages>
  </system.web>

  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="AmbientFrameworkModule" type="Tridion.ContentDelivery.AmbientData.HttpModule" preCondition="managedHandler" />
      <!-- This module can be enabled if you use the ContextualMediaHelper implemention. Refer to the IMediaHelper implementation mapping in your unity configuration. 
      <add name="ContextualImageProxyModule" type="Sdl.Web.Context.Image.Proxy.ContextualImageProxyModule" />
      -->
      <add name="DxaStaticContentModule" type="Sdl.Web.Mvc.Statics.StaticContentModule" />
    </modules>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
    </handlers>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="6.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>

      <!-- Ensure that DD4T uses CIL 8.5.0 -->
      <dependentAssembly>
            <assemblyIdentity name="Tridion.ContentDelivery" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
            <bindingRedirect oldVersion="8.1.0.1239-8.5.0.1999" newVersion="8.5.0.1014" />
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="Tridion.ContentDelivery.AmbientData" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
            <bindingRedirect oldVersion="8.1.0.1239-8.5.0.1999" newVersion="8.5.0.1014" />
        </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <log4net configSource="Log.config" />
  
  <unity configSource="Unity.config" />
  
  <!-- 
  NOTE: Model Builder Pipeline Configuration should only be used for advanced (SDL-owned) modules.
  This is not a public extension point and will change considerably in a future release.
  -->
  <modelBuilderPipeline>
    <add type="Sdl.Web.Tridion.R2Mapping.DefaultModelBuilderR2, Sdl.Web.Tridion" />
  </modelBuilderPipeline>
  
</configuration>