@model LinkList<TagLink>
<div class='icon-list'>
    @foreach(var link in Model.Links)
    {
	<a href="@link.Url" class="fa-stack fa-lg" title="@Html.FormatResource("core.VisitUsSocialLinkTitle",link.Tag.DisplayText))">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-@link.Tag.Key fa-stack-1x"></i>
	</a>
    }
</div>
