@model Configuration
@{
    var siteLocalizations = WebRequestContext.Localization.SiteLocalizations;
    var filteredLocalizations = new List<Localization>();
    if (siteLocalizations.Count > 1)
    {
        var excludedLocalizations = new List<string>();
        if (Model.Settings.ContainsKey("suppressLocalizations"))
        {
            excludedLocalizations = Model.Settings["suppressLocalizations"].Split(',').Select(l => ("/" + l.Trim())).ToList();
        }
        foreach (var loc in siteLocalizations)
        {
            if (!excludedLocalizations.Contains(loc.Path))
            {
                filteredLocalizations.Add(loc);
            }
        }
    }
    var redirectId = WebRequestContext.PageId;
    var defaultItem = Model.Settings.ContainsKey("defaultContentLink") ? Model.Settings["defaultContentLink"].Substring(4) : null;
}
@if (redirectId != null && siteLocalizations.Count > 1)
{
    <div @Markup.Entity(Model)>
        <select class="selectpicker" data-width="auto">
            @foreach (var loc in siteLocalizations)
            {
                var parms = "localization=" + loc.LocalizationId + (defaultItem!=null ? "&defaultItemId=" + defaultItem:"");
                parms += "&defaultPath=" + loc.Path;
                <option value="@loc.LocalizationId" data-href="/resolve/@(redirectId)?@parms" @(loc.LocalizationId==WebRequestContext.Localization.LocalizationId ? "selected" : "")>
                    @loc.Language
                </option>
            }
        </select>
    </div>
}