@model EntityBase
@{
    var pageId = @WebRequestContext.PageId;
}
@if (pageId!=null && SiteConfiguration.Localizations.Count > 1)
{
    <select class="selectpicker" data-width="auto">
        @foreach(var loc in SiteConfiguration.SortedLocalizations)
        {
            <option value="@loc.LocalizationId" data-href="/resolve/@(pageId)?localization=@loc.LocalizationId" @(loc.LocalizationId==WebRequestContext.Localization.LocalizationId ? "selected" : "")>@SiteConfiguration.GetConfig("core.language", loc.Path)</option>
        }
    </select>
}