@model Configuration
@{
    List<Localization> localizations = SiteConfiguration.Localizations.Values.ToList();
    if (Model.Settings.ContainsKey("suppressLocalizations"))
    {
        var excludedLocalizations = new List<string>();
        excludedLocalizations = Model.Settings["suppressLocalizations"].Split(',').Select(l => ("/"+ l).Trim()).ToList();
        localizations = localizations.Where(l=>!excludedLocalizations.Contains(l.Path)).ToList();
    }
    var redirectId = Model.Settings.ContainsKey("defaultContentLink") ? Model.Settings["defaultContentLink"].Substring(4) : WebRequestContext.PageId;
}
@if (redirectId != null && localizations.Count > 1)
{
    <div @Markup.Entity(Model)>
        <select class="selectpicker" data-width="auto">
            @foreach(var loc in localizations)
            {
                <option value="@loc.LocalizationId" data-href="/resolve/@(redirectId)?localization=@loc.LocalizationId" @(loc.LocalizationId==WebRequestContext.Localization.LocalizationId ? "selected" : "")>
                    @SiteConfiguration.GetConfig("core.language", loc.Path)
                </option>
            }
        </select>
    </div>
}