@model YouTubeVideo
<style>
    .embed-video > iframe {
        width: 100% !important;
        height: auto !important;
    }
</style>
<div class="video" @Markup.Entity(Model)> 
    @if (Model.Headline!=null)
    {
        <h3 @Markup.Property(Model, "Headline")>@Model.Headline</h3>
    }   
    @Html.Media(Model, "100%")
</div>