@model YouTubeVideo
<div class="video" @Html.DxaEntityMarkup()> 
    @if (Model.Headline!=null)
    {
        <h3 @Html.DxaPropertyMarkup(() => Model.Headline)>@Model.Headline</h3>
    }   
    @Html.Media(Model, "100%")
</div>