@model Sdl.Web.Mvc.Models.Teaser
<div id="carousel-large" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            @Html.Partial("Core/Partials/TeaserHero-ImageOverlay", Model);
        </div>
    </div>
</div>
