@model Sdl.Web.Modules.Search.SearchConfiguration
<form class="navbar-form navbar-right" action="@Model.ResultsLink" method="get">
    <div class="form-group" @Markup.Entity(Model)>
        <input name="q" type="text" class="form-control" placeholder="@Model.SearchBoxPlaceholderText" value="@Request.QueryString["q"]">
    </div>
</form>