@model PageBase
<footer id="page-footer" class="page-row">
    @if (WebRequestContext.IsPreview)
    {
        <div class="xpm-button">
            <a href="/system/include/footer" title="Edit Footer" class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-pencil fa-inverse fa-stack-1x"></i>
            </a>
        </div>
    }
    @if (WebRequestContext.IsInclude)
    {
        <div class="xpm-button">
            <a href="javascript:history.back()" title="Go Back" class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-arrow-left fa-inverse fa-stack-1x"></i>
            </a>
        </div>
    }
    <div class="container-fluid page-border">
        @foreach (Region region in Model.Regions.Values)
        {
            @ViewBag.Renderer.RenderRegion(region, Html, 12, new List<string>{"Links"})
        }
        <hr />
        @if (Model.Regions.ContainsKey("Links"))
        {
            @ViewBag.Renderer.RenderRegion(Model.Regions["Links"], Html)
        }
    </div>
</footer>