@model PageModel
<footer id="page-footer" class="page-row">
    @Html.DxaPageMarkup(isIncludePage: true)
    <div class="container-fluid page-border">
        @Html.DxaRegions(exclude: "Links", containerSize: 12)
        <hr />
        @Html.DxaRegion("Links")
    </div>
</footer>