@model PageBase
@if (Model.Regions.ContainsKey("Info"))
{
    @ViewBag.Renderer.RenderRegion(Model.Regions["Info"], Html)
}
<header id="page-header" class="navbar navbar-default">
    @if (WebRequestContext.IsPreview)
    {
        <div class="xpm-button">
            <a href="/system/include/header" title="Edit Header" class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-pencil fa-inverse fa-stack-1x"></i>
            </a>
        </div>
    }
    @if (WebRequestContext.IsInclude)
    {
        <div class="xpm-button">
            <a href="javascript:history.back()" title="Go Back" class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-arrow-left fa-inverse fa-stack-1x"></i>
            </a>
        </div>
    }    
    <div class="container-fluid page-border">
        <div class="row">
            <div class="col-xs-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    @if (Model.Regions.ContainsKey("Logo"))
                    {
                        @ViewBag.Renderer.RenderRegion(Model.Regions["Logo"], Html)
                    }
                </div>
                @foreach (Region region in Model.Regions.Values)
                {
                    @ViewBag.Renderer.RenderRegion(region, Html, 12, new List<string> {"Logo", "Info"})
                }
            </div>
        </div>
    </div>
</header>