@model PageBase
@if (Model.Regions.ContainsKey("Info"))
{
    @ViewBag.Renderer.RenderRegion(Model.Regions["Info"], Html)
}
<header id="page-header" class="navbar navbar-default">
    <div class="container-fluid page-border">
        <div class="row">
            <div class="col-xs-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    @if (Model.Regions.ContainsKey("Logo"))
                    {
                        @ViewBag.Renderer.RenderRegion(Model.Regions["Logo"], Html)
                    }
                </div>
                @foreach (Region region in Model.Regions.Values)
                {
                    @ViewBag.Renderer.RenderRegion(region, Html, 12, new List<string> {"Logo", "Info"})
                }
            </div>
        </div>
    </div>
</header>