@model TestEntityModel1
<div class="entity @Model.HtmlClasses" @Html.DxaEntityMarkup()>
    <h5>Rendered @Model with Entity View "Test:TestEntityCSSEmpty"</h5>
    <p>
        Classes = @Model.HtmlClasses
    </p> 
</div>
