@model Sdl.Web.Mvc.Models.WebPage
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"> <span class='sr-only'>Home</span></i></a></li>
    <li><a href="/local-information">Local Information</a></li>
    <li class="active">@Model.Title</li>
</ol>
