@model Sdl.Web.Mvc.Models.SitemapItem

@{
    Layout = null;
}
<ul class="nav navbar-nav main-nav">
    @foreach (var item in Model.Items)
    {
        SitemapItem sitemapItem = (item.Title == "Index") ? Model : item;
        var urlStem = item.Url.Substring(0,item.Url.LastIndexOf("/"));
        <li class="@(Request.Url.LocalPath.ToString().StartsWith(item.Url) ? "active" : "")">
            <a href="@sitemapItem.Url">@sitemapItem.Title</a>
        </li>
    }
</ul>