@model Sdl.Web.Mvc.Models.WebPage
<div class="container">
    @if (Model.Regions.ContainsKey("Hero"))
    {
        @ViewBag.Renderer.Render(Model.Regions["Hero"],Html)
    }
    @Html.Partial("Core/Breadcrumb")
    @foreach (Sdl.Web.Mvc.Models.Region region in Model.Regions.Values)
    {
        if (region.Name!="Hero")
        {
            @ViewBag.Renderer.Render(region,Html)
        }
    }
</div>