@model Sdl.Web.Mvc.Models.Header
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">@Html.Resource("core.toggleNavigationText")</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @if (Model.Regions.ContainsKey("Logo"))
            {
                @ViewBag.Renderer.Render(Model.Regions["Logo"], Html)
            }
        </div>
        @foreach (Region region in Model.Regions.Values)
        {
            @ViewBag.Renderer.Render(region, Html, 12, new List<string> {"Logo"})
        }
    </div>
</div>
