@model Sdl.Web.Mvc.Models.WebPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class='container'>
   @foreach (Sdl.Web.Mvc.Models.Region region in Model.Regions.Values)
    {
        @ViewBag.Renderer.Render(region,Html)
    }
</div>